/* Shlomo Bensimhon 1837702 */

@font-face{
    src: url(Fonts/AnonymousPro-Regular.ttf);
    font-family: annonPro;
}

p{
    font-family: annonPro;
    text-align: left;
    white-space: pre;
}

#focus{
    color: red;
}

#main{
    border: rgb(red, green, blue);
}

#wordDisplay{
    display: inline-flex;
    background: #2196F3;
    font-size: 100px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 650px;
}

#startStop{
    width: 200px;
    height: 35px;
    color: white;
    background-color: green;
    border:1px solid #268a16;
}